<template>
  <v-container fluid>
    <h1 class="text-center">Projets</h1>
    <v-row>
      <v-col v-for="(item, index) in items" :key="index">
        <v-card color="accent" class="mx-auto elevation-4" max-width="400">
          <v-card-text>
            <p class="display-1 text--primary">{{ item.titre }}</p>
            <div class="text--primary">{{ item.date }}</div>
            <div class="text--primary">{{ item.contenu }}</div>
          </v-card-text>
          <v-row align="center" justify="center">
            <img alt="imgage" v-if="item.img" :src="item.img" height="150" class="ml-5" />
          </v-row>
          <v-card-actions>
            <v-btn
              aria-label="Bouton-Liens"
              :href="item.link"
              rel="noopener"
              target="_blank"
              text
            >See</v-btn>
            <v-btn
              aria-label="Bouton-Liens"
              :href="item.linkKnow"
              rel="noopener"
              target="_blank"
              text
            >See more</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Card",

  data: () => ({
    icon: true,
    items: [
      {
        titre: "Lorepsum",
        contenu:
          "Lorepsum",
        date: "Lorepsum",
        link: "Lorepsum",
        linkKnow: "Lorepsum",
        img: require("../assets/logo.png")
      },
      {
        titre: "Lorepsum",
        contenu: "Lorepsum",
        date: "Lorepsum",
        linkKnow: "Lorepsum",
        link: "Lorepsum"
      },
      {
        titre: "Lorepsum",
        contenu:
          "Lorepsum",
        date: "Lorepsum",
        linkKnow: "Lorepsum",
        link: "Lorepsum"
      }
    ]
  })
};
</script>
