<template>
  <v-container fluid>
    <h1 class="text-center">
      Skills
    </h1>
    <v-row>
      <v-col v-for="(item, index) in content" :key="index" cols="12" sm="4">
        <h3 class="text-center">
          {{ item.header }}
        </h3>
        <v-list color="accent" class="mx-auto elevation-4 mt-5" max-width="400" flat>
          <v-list-item v-for="(value, index) in item.items" :key="index">
            <v-list-item-content :v-if="value.logo!=null">
              <v-avatar tile size="64">
                <v-img :src="value.logo" alt />
              </v-avatar>
            </v-list-item-content>
            <v-list-item-content>
              <v-btn
                :href="value.direction"
                aria-label="Bouton-Liens"
                text
                rel="noopener"
                target="_blank"
              >
                {{ value.titre }}
              </v-btn>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-list-item__content {
  flex: none;
  word-break: normal;
}
v-list {
  margin-top: 10;
}

</style>

<script>
export default {
  name: 'Comp',

  data: () => ({
    content: [
      {
        header: 'Dev',
        items: [
          {
            titre: 'Lorepsum',
            logo: require('../assets/logo.png'),
            direction: 'https://vuejs.org/'
          }
        ]
      },
      {
        header: 'Devops',

        items: [
          {
            titre: 'Devops',
            logo: require('../assets/devops.png'),
            direction: 'https://www.redhat.com/fr/topics/devops'
          },
        ]
      },
      {
        header: 'Others',
        items: [
          {
            titre: 'AI',
            logo: require('../assets/ai.png'),
            direction:
              'https://medium.com/@belcaid.mehdi/introduction-%C3%A0-lintelligence-artificielle-d4205e5a8390'
          },
        ]
      }
    ]
  })
}
</script>
