<template>
  <v-footer color="secondary" padless>
    <v-col class="text-center" cols="12">
      <a
        aria-label="Bouton-Liens"
        href="https://gitlab.com/leadrain"
        rel="noopener"
        target="_blank"
      >
        <img alt="Gitlab" src="../assets/gitlab.png" height="48">
      </a>
      <a
        aria-label="Bouton-Liens"
        href="https://www.linkedin.com/in/romain-le-duc/"
        rel="noopener"
        target="_blank"
      >
        <img
          alt="Linkedin"
          src="../assets/linkedin.png"
          height="48"
          class="ml-5"
        >
      </a>
    </v-col>
    <v-col
      class="text-center"
      cols="12"
    >
      {{ new Date().getFullYear() }} - Design By Romain LE DUC ©
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
