<template>
  <v-container fluid>
    <v-card color="accent" align="center" justify="center" class="mx-auto">
      <v-container v-if="!isMobile" fluid>
        <v-row align="center" justify="center">
          <v-col cols="6" md="4">
            <v-img
              class="text-align justify-align rounded-card"
              alt="Romain"
              src="../assets/logo.png"
              max-width="200"
              max-heigh="600"
            />
          </v-col>
          <v-col cols="6" md="4">
            <v-row align="center" justify="center">
              <h1 class="text-center justify-align">{{this.profile.profile.name}}</h1>
            </v-row>
            <h2 class="text-center justify-align">Ingénieur Full Stack Devops Innovation</h2>
          </v-col>
          <v-col cols="6" md="4">
            <v-row align="center" justify="center">
              <p class="text-left">{{ this.profile.profile.summary }}</p>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
      <v-container v-if="isMobile" fluid>
        <v-row align="center" justify="center">
          <v-img
            class="text-align justify-align rounded-card mt-2"
            alt="Romain"
            src="../assets/logo.png"
            max-width="200"
            max-heigh="600"
          />
        </v-row>
        <v-card-title class="justify-center">{{this.profile.profile.name}}</v-card-title>
        <h2 class="justify-center">Ingénieur Full Stack Devops Innovation</h2>
        <v-card-text class="text-left">{{ this.profile.profile.summary }}</v-card-text>
      </v-container>
    </v-card>
  </v-container>
</template>

<style>
.rounded-card {
  border-radius: 10%;
}
</style>

<script>
import { isMobile } from "mobile-device-detect";

export default {
  name: "Home",
  data: () => ({
    isMobile,
    profile: {
        profile: {
          name: "Romain LE DUC",
          summary: "Comming"
        },

      }
  }),
  mounted() {
    if (localStorage.data) {
      this.profile = JSON.parse(localStorage.data);
      console.log(this.profile)
    }
  },
};
</script>
