<template>
  <v-card color="primary" tile align="center" class="elevation-0">
    <v-btn
      v-for="(item, index) in btn"
      :key="index"
      @click="$vuetify.goTo(item.lien)"
      aria-label="Bouton-Liens"
      text
      class="pr-4"
    >
      {{ item.nom }}
    </v-btn>
    <v-btn @click="darkModeBool" v-model="darkBool" aria-label="Bouton-Liens" icon right>
      <v-img
        alt="DarkOrNote"
        dark
        class="elevation-0"
        max-heiht="24"
        max-width="24"
        src="../assets/white.png"
      />
    </v-btn>
  </v-card>
</template>

<script>
export default {
  name: 'Menu',

  data: () => ({
    darkBool: false,
    btn: [
      {
        nom: 'Presentation',
        lien: '#intro'
      },
      {
        nom: 'Experience',
        lien: '#exp'
      },
      {
        nom: 'Skills',
        lien: '#comp'
      },
      {
        nom: 'Contact',
        lien: '#contact'
      }
    ]
  }),
  methods: {
    darkModeBool () {
      this.$vuetify.theme.dark = this.darkBool
      this.darkBool = !this.darkBool

    }
  }
}
</script>
