<template >
  <v-container fluid>
    <h1 class="text-center">Professional</h1>
    <v-timeline v-if="!isMobile">
      <v-timeline-item
        v-for="(item, index) in position.position"
        :key="index"
        color="orange lighten-2"
      >
        <template v-slot:icon>
          <v-avatar>
          </v-avatar>
        </template>
        <span slot="opposite">{{item.date1}}</span>
        <v-card color="accent" fluid class="elevation-2 pb-4">
          <v-card-title
            primary-title
            class="layout justify-center"
          >{{item.title}} {{item.companyName}}</v-card-title>
          <h3 class="pl-4 pb-0">{{item.location}}</h3>
          <p v-html="handleNewLine(item.description)" class="pl-4 pb-0"></p>
        </v-card>
      </v-timeline-item>
    </v-timeline>

    <div v-if="isMobile">
      <div v-for="(item, index) in position.position" :key="index">
        <v-col class="text-center" cols="12">
          <p class="text-center">{{item.date1}}</p>
        </v-col>

        <v-card color="accent" fluid class="elevation-2 pb-4">
          <v-card-title
            primary-title
            class="layout justify-center"
          >{{item.title}} {{item.companyName}}</v-card-title>
          <h3 class="pl-4 pb-0">{{item.location}}</h3>
          <p v-html="handleNewLine(item.description)" class="pl-4 pb-0"></p>
        </v-card>
      </div>
    </div>
  </v-container>
</template>

<style scoped>
.v-card__title {
  word-break: normal;
}
.v-card__title {
  word-break: normal;
}
</style>

<script>
import { isMobile } from "mobile-device-detect";

export default {
  name: "Timeline",

  mounted() {
    if (localStorage.data) {
      this.position = JSON.parse(localStorage.data);
    }
  },

  methods: {
    handleNewLine(str) {
      return str.replace(/(?:\r\n|\r|\n)/g, "<br />");
    }
  },
  data: () => ({
    isMobile,
    position: [{}]
  })
};
</script>

