<template>
  <v-app dark :style="{background: $vuetify.theme.themes[theme].background}">
    <Menu />
    <Home id="intro" />
    <Comp id="comp" />
    <Timeline id="exp" />
    <Card />
    <Footer id="contact" />
  </v-app>
</template>

<script>
import Home from "./components/Home";
import Footer from "./components/Footer";
import Timeline from "./components/Timeline";
import Menu from "./components/Menu";
import Card from "./components/Card";
import Comp from "./components/Comp";
import ProfileService from "./services/profile.service.js";

export default {
  name: "App",

  components: {
    Home,
    Footer,
    Timeline,
    Menu,
    Card,
    Comp
  },

  data() {
    return {
      path: "https:romainleduc.com",
      data: {
        positions: [{}],
        profile: {
          name: "Romain LE DUC",
          summary: "Chargement"
        }
      }
    };
  },
  mounted() {
    ProfileService.getProfile().then(
      response => {
        this.data = response.data;
        localStorage.setItem("data", JSON.stringify(this.data));
      },
      error => {
        console.log(error.response);
      }
    );
  },
  computed: {
    theme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    }
  }
};
</script>
